@using Library.PublicModel
@model IEnumerable<Library.Models.BookGroup>
@addTagHelper *,Microsoft.AspNetCore.Mvc.TagHelpers
@addTagHelper *,Library
@{
    ViewBag.Title = "Index";
    Layout = "_Layout";
}
<div>
    @Html.Partial("_adminPanel")
</div>

<div class="col-md-9">
    <div class="top-buffer"></div>

    <div class="card bg-primary">
        <div class="card-header panel-head text-right" id="userListCard">لیست گروه بندی کتاب ها</div>
        <div class="card-body bg-white">
            <div class="btn-group float-right">
                <a class="btn btn-primary" id="showbookgroup" asp-action="AddEditBookGroup">افزودن گروه بندی</a>
            </div>

            <div></div>
            <table class="table table-bordered table-striped table-sm">
                <thead>
                <tr>
                    <th>@Html.DisplayNameFor(model => model.BookGroupName)</th>
                    <th>@Html.DisplayNameFor(model => model.BookGroupDescription)</th>
                    <th>عملیات</th>
                </tr>
                </thead>
                <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <td>@item.BookGroupName</td>
                        <td>@item.BookGroupDescription</td>
                        <td>
                            <a class="btn btn-info" id="showeditbookgroup" asp-action="AddEditBookGroup" asp-route-id="@item.BookGroupID">ویرایش</a>
                            @if (!item.books.Any())
                            {
                                <a class="btn btn-danger" id="showdeletebookgroup" asp-action="DeleteBookGroup" asp-route-id="@item.BookGroupID">حذف</a>
                            }
                        </td>
                    </tr>
                }
                </tbody>
            </table>
        </div>
    </div>
</div>
@* @await Html.PartialAsync("_Modal", new BootstrapModel *@
@* { *@
@*     ID = "modal-action-bookgroup", *@
@*     Size = ModalSize.Medium *@
@* }) *@

@section Scripts
{
    <script src="js/modal-js/bookgroup-index.js"></script> 
    <script src="~/js/adminPanelScript.js"></script>

}